*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  line-height: 25px;
  color: #333;
}

.about-wrap{
  padding: 15px;
  margin: 0;
}
.about-banner{
  padding: 0;
  margin: 0;
  position: relative;
}
.about-banner img{
  width: 100%;
}
.about-banner-in{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
}
.banner-text{
  width: 130px;
  position: absolute;
  left: 85px;
  top: 70px;
}
.banner-shape img{
  width: 200px;
}
.banner-shape{
  width:200px;
  position: absolute;
  right:0;
  bottom: 0;
}
/* banner end */
.about-banner-btm{
  position: relative!important;
  box-sizing: border-box;
}
.about-banner-btm img{
  width: 100%;
}
.about-banner-btm-in{
  padding: 0 20%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column!important;
}
.banner-btm-text-1 img{
  width: 200px;
}
.banner-btm-text-2 img{
  width:auto;
  max-width: 100%;
}





.bullet-wrap{
  padding: 55px 0;
}
.bullet-wrap img{
  padding: 0 23px;
}




.bullet-btm{
  padding: 0;
  margin: 0;
  background-color: #001c00;
}
.flex-wrap{
  flex-wrap: wrap!important;
  display: flex!important;
}
.bullet-btm-left{
  width: 45%;
  position: absolute;
  padding-left: 0;
}
.bullet-btm-top{
  padding: 30px 30px 0;
}
.bullet-btm-top img{
  max-width: 100%;
}
.bullet-btm-btm{
  padding: 0 0 0 30px;
  position: absolute;
  bottom:10%;
  left: 0;
  width:165px;
}
.bullet-btm-right{
  width: 55%;
  padding:0!important;
  margin: 0;
  padding-right: 0px;
}
.bullet-btm-right img{
  width:100%;
}


/* blog start */
.first-cont{
  background-image: url(../../images/pool.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  padding: 50px;
}
.first-cont h5{
  font-size: 15px;
}
.first-cont a{
  color:#fff;
}
.first-cont p{
  font-size: 16px;
  margin:0;
}
.blog-btn{
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  transition: .2s;
}
.blog-btn:hover{
    text-decoration: none;

}


.secound-cont{
  background-image: url(../../images/pool.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  padding: 50px;
}
.secound-cont h5{
  font-size: 15px;
}
.secound-cont p{
  font-size: 16px;
  margin:0;
}
/*blog part 3*/
.blog-3-section img{
  width: 100%;
}
.blog-hf-img{
  height: 220px;
  overflow: hidden;
}
.blog-3-section h3{
  font-size: 22px;
  color: #333;
  margin-top: 15px;
}
.blog-3-section p{
  margin-bottom: 5px;
}
.blog-3-section a{
  color: #000;
}
.blog-p{
  font-size: 16px;
  color: #888;
}
.blog-3-section h2{
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
}
/* publication page style end here */
/* publication details style start here */
.container-1{
  max-width: 1200px;
  margin: auto;
}
.single-title h1{
  font-size: 60px;
  font-weight: bold;
}
.container-1 a{
  color: #E9204F;
  font-size: 20px;
}
.container-1 p{
  margin-top: 20px;
}
.blog-social p{
  font-weight: bold;
  color:#E9204F;
}
.blog-details-2 img{
  width: 80%;
  height: auto;
  box-sizing: border-box;
}
.blg-p{
  color: #747474;
  font-size: 18px;
  line-height: 1.7;
}
.scl-icon{
  font-size: 25px;
}
.rcnt-story h2{
  font-weight: bold;
  color: #E9204F;
  font-size: 50px;
}
.btm-cnt{
  overflow: hidden;
  transition: 1s;
  position: relative;
}
.btm-cnt h4{
  color: #333;
  margin:50px 10px 0px 10px;
  font-weight: bold;
}
.btm-cnt p{
  color: #333;
  margin:100px 10px 50px 10px;
}


.blog-bg{
  transition: 1s;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
  .blog-bg:hover{
    background-image: url(../../images/pool.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: 110% 110%;
  }
  .btm-cnt:hover h4{
    color: #fff;
    transition: 1s;
  }
  .btm-cnt:hover p{
    color: #fff;
    transition: 1s;
  }


































.
